<div>
    <div class="topdiv">
        <span style="cursor:pointer;" (click)="logout()">{{token}} : {{loginName}} {{lginlgout}}</span>
    </div>
    <app-nav></app-nav>
</div>

<div class="logindiv">
    <div style="display: block; margin-top: 30px;" *ngIf="isLogin">
        <app-login (loginDataChange)="loginData=$event;lginlgout='Logout';isGrid=true;loginName=loginData.User.name" (tokenChange)=" token=$event;isLogin=false;"></app-login>
    </div>


    <div *ngIf="isGrid">
        <router-outlet></router-outlet>
    </div>